<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->


<header><mat-toolbar color="primary">

 PERSON CRUD<br>

  <button class="space-button" mat-stroked-button  disableRipple="true"  routerLink="/DisplayPersonComponent">Display Person</button>
  <button class="space-left-button" mat-stroked-button  disableRipple="true"  routerLink="/AddPersonComponent">Add Person</button>
  <button class="space-left-button" mat-stroked-button  disableRipple="true"  routerLink="/DeletePersonComponent">Delete Person</button>
  <button class="space-left-button" mat-stroked-button  disableRipple="true"  routerLink="/EditPersonComponent">Edit Person</button>
</mat-toolbar> </header>


<!-- The routed views render in the <router-outlet>-->
<router-outlet>



</router-outlet>