<body>
<mat-card>
<form class="form-margin" [formGroup]="personForm" (ngSubmit)="createPerson()">

    <mat-form-field class="form-field-margin">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. 14">
      <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
        Name invalid
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-margin">
        <mat-label>Age</mat-label>
        <input type="text" matInput [formControl]="ageFormControl" placeholder="Ex. 14">
        <mat-error *ngIf="ageFormControl.hasError('pattern') && !ageFormControl.hasError('required')">
          Age invalid: only accepts integer (up to 3 digits)
        </mat-error>
        <mat-error *ngIf="ageFormControl.hasError('required')">
          Age is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-card-footer>
        <button mat-stroked-button  color="primary" [disabled]="!nameFormControl.valid || !ageFormControl.valid" type="submit">Create Person</button>
      </mat-card-footer>
  </form>
</mat-card>
{{error}}
</body>